body{
    background-color: blue !important;
    color:darkslateblue;

}


div#container{
    background-color: #63c078 !important;
    border-radius: 15px;
    padding:15px;
    margin-top:15px;
}
div#playjogador{
    margin:15px;
    width:610px;
    font-size:20px;
    font-family: Calibri;
    color:white;
    border-radius: 15px;
    background-color: #63c078;
}
h1{
    text-align: center;

}
h5{
    text-align: center;
}

/*-------------------------------------------------------
\\ td {
    width: 200px;
    height: 200px;
}
table {
    margin: 10px auto;
}
.vert {
    border-left: 3px solid black;
    border-right: 3px solid black;
}
.hori {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
--------------------------------------------------------*/

.rules{

    text-align: center;

}

img#logo{
    margin-left: 25px;
    margin-top: 5px;
    width:610px;
    height:140px;
    z-index: -1;
    border-radius: 15px;
}
img{
    margin-left: 25px;
    margin-top: 5px;
    width:200px;
    height:200px;
    z-index: -1;
}



#container {
    display: flex;
    width: 800px;

    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.box {
    height: 230px;

    border: 6px solid black;
    box-sizing: border-box;
    flex: 1 1 33%;
}
#block-1, #block-2, #block-3 {
    border-top: none;
}
#block-1, #block-4, #block-7 {
    border-left: none;
}
#block-7, #block-8, #block-9 {
    border-bottom: none;
}
#block-3, #block-6, #block-9 {
    border-right: none;
}







